html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
  font-family: "IranYekan Light";
}
a,
.selected-text,
button,
.productsTitle,
.products-item,
.accessTitle,
.access-item,
.serviceTitle,
.service-item {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.header {
  background-color: #00bac6;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.nav-menu {
  display: flex;
  align-items: center;
}
.nav-menu__item {
  margin-left: 6rem;
}
.nav-menu__item--link {
  color: #fff;
  font-family: "IranYekan Medium";
}
.subHeader {
  background: linear-gradient(
      77deg,
      rgba(0, 0, 0, 0) 45%,
      rgba(255, 255, 255, 1) 45%
    ),
    url("./../public/images/header.png");
  background-position: left;
  background-size: contain;
  min-height: 66rem;
  background-repeat: no-repeat;
}
.subHeader-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 60rem;
  padding-top: 20rem;
}
.subHeader-title {
  font-family: "IranYekan Bold";
  font-size: 4rem;
  color: #4a4a4a;
  margin-bottom: 4rem;
}
.subHeader-text {
  font-size: 1.75rem;
  color: #4a4a4a;
}
.selected-text {
  color: #00bac6;
}
.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8rem;
}
.top-image__img {
  max-width: 40rem;
  display: block;
}
.top-texts {
  padding-right: 5rem;
  max-width: 50rem;
}
.top-title {
  font-family: "IranYekan Bold";
  font-size: 3rem;
  color: #4a4a4a;
  margin-bottom: 4rem;
}
.top-text {
  font-size: 1.75rem;
  color: #4a4a4a;
}
.bot-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8rem;
}
.bot-image__img {
  max-width: 40rem;
  display: block;

}
.bot-texts {
  padding-right: 5rem;
  max-width: 60rem;
}
.bot-title {
  font-family: "IranYekan Bold";
  font-size: 3rem;
  color: #4a4a4a;
  margin-bottom: 4rem;
}
.bot-text {
  font-size: 1.75rem;
  color: #4a4a4a;
}
.footer {
  margin-top: 45rem;
  position: relative;
  background-color: #00bac6;
}
.form-section {
  box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.23);
  max-width: 80rem;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 2rem;
  position: absolute;
  top: -35rem;
  left: 0;
  right: 0;
  padding: 3rem 0;
}
.footer-content {
  padding-top: 25rem;
  padding-bottom: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
}

.topRight {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: #fff;
  font-size: 4rem;
}
.topRight > i {
  transition: all 0.2s ease-in-out;
}
.botRight {
  padding-top: 5rem;
  font-size: 1.5rem;
}
.botRightText {
  color: #fff;
  padding-left: 1rem;
}
.leftPart {
  display: flex;
  justify-content: space-evenly;
  color: #fff;
}
.productsCol {
  padding-left: 5rem;
  text-align: center;
}
.productsTitle {
  font-family: "IranYekan Bold";
  margin-bottom: 1rem;
}
.products-item {
  font-size: 1.5rem;
}
.accessCol {
  padding-left: 5rem;
  text-align: center;
}
.accessTitle {
  font-family: "IranYekan Bold";
  margin-bottom: 1rem;
}
.access-item {
  font-size: 1.5rem;
}
.serviceCol {
  text-align: center;
}
.serviceTitle {
  font-family: "IranYekan Bold";
  margin-bottom: 1rem;
}
.service-item {
  font-size: 1.5rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #4a4a4a;
}
.formTitle {
  font-family: "IranYekan Bold";
  font-size: 3rem;
  border: 5px solid #00bac6;
  padding: 1rem 2rem;
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
  border-radius: 1rem;
}
.comment,
.name,
.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}
.form input,
textarea {
  border-radius: 15px;
  border: 2px solid #00bac6;
  padding: 0.5rem 1rem;
  color: #4a4a4a;
  font-size: 1.4rem;
  font-family: "IranYekan Medium";
}
input[type="text"]:focus,
textarea:focus {
  border: 2px solid #00bac6;

  outline: none;
}
.formBtn {
  font-size: 2rem;
  font-family: "IranYekan Bold";
  padding: 0.5rem 3rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #00bac6;
  border: 2px solid #4a4a4a;
}
button:hover {
  background-color: #4a4a4a;
  cursor: pointer;
}
a:hover,
.selected-text:hover,
.service-item:hover,
.products-item:hover,
.access-item:hover,
i:hover {
  color: #4a4a4a;
  cursor: pointer;
}

.mobile-menu__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu__btn {
  background-color: #00bac6;
  width: 5rem;
  height: 5rem;
  border-radius: 40%;
  display: none;
  justify-content: center;
  align-items: center;
}
.menu-line {
  display: block;
  width: 3.3rem;
  height: 0.33rem;
  background-color: #fff;
  position: relative;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.menu-line::before {
  content: "";
  position: absolute;
  width: 3.3rem;
  height: 0.33rem;
  background-color: #fff;
  top: -1rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}
.menu-line::after {
  content: "";
  position: absolute;
  width: 3.3rem;
  height: 0.33rem;
  background-color: #fff;
  top: 1rem;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
}

.mobile-menu {
  background-color: #00bac6;
  position: fixed;
  left: -20rem;
  top: 0;
  bottom: 0;
  padding: 3rem 5rem;
  display: none;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.mobile-menu__item--link {
  color: #fff;
}
.mobile-menu__item {
  padding: 2rem 0;
}

.menuActive {
  left: 0rem;
}
.btnActive .menu-line {
  background-color: transparent;
}
.btnActive .menu-line::after {
  top: 0;
  transform: rotate(45deg);
}
.btnActive .menu-line::before {
  top: 0;
  transform: rotate(-45deg);
}
